* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: 100vh;
}

.container {
    padding: 10px;
}

header {
    background-color: darkgrey;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

header p {
    font-size: 24px;
}

main {
    flex: 1;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
}

main-article {
    background-color: darkolivegreen;
    border: 5px solid black;
    color: white;
    padding: 10px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* Ajuste el ancho máximo del artículo */
}

main-article h1 {
    margin-bottom: 8px;
    text-align: center;
}

main-article p {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
    /* Alinea el texto a la izquierda */
    overflow-wrap: break-word;
    /* Permite que las palabras se rompan en varias líneas */
    max-width: 100%;
    /* Limita el ancho del párrafo */
    word-wrap: break-word;
    /* Para navegadores antiguos */
}

footer {
    background-color: darkgrey;
    color: white;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 24px;
}