.grid-container {
    background-color: darkgrey;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.grid-container>div {
    background-color: darkolivegreen;
    border: 5px solid black;
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.movie-google {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}