.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* limpiamos flotantes */
.row::after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}

/* selecionamos todas los col */
[class*="col-"] {
    float: left;
    padding: 10px;
}

@media only scree and (min-width: 600px) {
    /* porcentaje 100/12 primera fila asi parael resto */
    .colo-1 {
        width: 8.33%;
    }

    /* el doble de col-1 */
    .colo-2 {
        width: 16.66%;
    }

    .colo-3 {
        width: 25%;
    }

    .colo-4 {
        width: 33.33%;
    }

    .colo-5 {
        width: 41.66%;
    }

    .colo-6 {
        width: 50%;
    }

    .colo-7 {
        width: 58.33%;
    }

    .colo-8 {
        width: 66.66%;
    }

    .colo-9 {
        width: 75%;
    }

    .colo-10 {
        width: 83.33%;
    }

    .colo-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/* ￼￼ ￼ ￼ 0:11 / 13:21 ￼ ￼￼￼￼￼ 💙 Creamos un Grid Responsive en CSS desde cero */