.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* limpiamos flotantes */
.row::after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}

/* selecionamos todas los col */

/* para moviles */
[class*="col-"] {
    float: left;
    padding: 10px;
    width: 100%;
}
/* para moviles */
@media only scree and (min-width: 600px) {


}

/* para tablets */
@media only scree and (min-width: 600px) {

}

/* para escritorio */
@media only scree and (min-width: 768px) {

}

@media only scree and (min-width: 992px) {

}

@media only scree and (min-width: 1200px) {

}

/* ￼￼ ￼ ￼ 0:11 / 13:21 ￼ ￼￼￼￼￼ 💙 Creamos un Grid Responsive en CSS desde cero */