.product-box img{
    filter:grayscale(100%);
}
.product-box:hover img{
    /* quito ampliacion sobresscribo selector */
    transform: scale(1);
    filter:grayscale(0%);

}
/* saturate */
.product-box img{
    filter:saturate(0);
}
.product-box:hover img{
    /* quito ampliacion sobresscribo selector */
    transform: scale(1);
    filter:saturate(1);


}