<aside class="row flex-md-nowrap justify-content-center">
    <div class="col-6 col-md-3">
        <a href="#">
            <img src="img/icons/service-icon-1.png" alt="icono del carrito" width="30">
            <p>0 articulos en el carrito</p>
        </a>
    </div>

    <div class="col-6 col-md-3">
        <a href="#">
            <img src="img/icons/service-icon-2.png" alt="icono del carrito" width="30">
            <p>Mi Cuenta</p>
        </a>
    </div>

    <div class="col-6 col-md-3">
        <a href="#">
            <img src="img/icons/service-icon-3.png" alt="icono del carrito" width="30">
            <p>Articulos favoritos</p>
        </a>
    </div>

    <div class="col-6 col-md-3">
        <a href="#">
            <img src="img/icons/service-icon-4.png" alt="icono del carrito" width="30">
            <p>Subscribete a nuestra newsletter</p>
        </a>
    </div>
</aside>
