 <!-- footer fuera del container -->
<footer>
    <div class="container">
        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="img/icons/logo-dark.png" alt="icono">
            <p><strong>Envios gratis</strong><br> Por $29 de compra</p>
        </div>
        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="img/icons/service-icon-2.png" alt="icono">
            <p><strong>Envios gratis</strong><br> Por $29 de compra</p>
        </div>
        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="img/icons/service-icon-3.png" alt="icono">
            <p><strong>Envios gratis</strong><br> Por $29 de compra</p>
        </div>

        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="img/icons/service-icon-4.png" alt="icono">
            <p><strong>Envios gratis</strong><br> Por $29 de compra</p>

        </div>

        &copy;Kiko Palomares Academy

    </footer>
