<h1 class="title-products">Vestidos de mujer</h1>

<div class="row">
    <div class="col-xs-12">
        <form action="">
            <input type="search" name="search" placeholder="Busca el articulo a una referencia...">
        </form>
        <select class="select-order">
            <option>Precio mas bajo</option>
            <option>Precio mas alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>
</div>
        
    </div>

    <div class="row">
        <a href="#" class="col-m-4 col-s-6 product-box">
            <img src="img/photo_1.jpg" alt="producto 1" width="100%">
            <div class="hidden offer">Oferta</div>
            <h3>Vestido cruzado largo</h3>
            <strong class="price"> $29.98</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 product-box">
            <img src="img/photo_8.jpg" alt="producto 2" width="100%">
            <div class="hidden offer">Oferta</div>
            <h3>Vestido cruzado largo</h3>
            <strong class="price"><del> $20.00</del> $29.98</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 product-box">
            <img src="img/photo_10.jpg" alt="producto 3" width="100%">
            <div class="hidden offer">Oferta</div>
            <h3>Vestido cruzado largo</h3>
            <strong class="price"><del> $20.00</del> $29.98</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 product-box">
            <img src="img/photo_11.jpg" alt="producto 4" width="100%">
            <div class="hidden offer">Oferta</div>
            <h3>Vestido cruzado largo</h3>
            <strong class="price"><del> $20.00</del> $29.98</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 product-box">
            <img src="img/photo_12.jpg" alt="producto 5" width="100%">
            <div class="hidden offer">Oferta</div>
            <h3>Vestido cruzado largo</h3>
            <strong class="price"><del> $20.00</del> $29.98</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 product-box">
            <img src="img/photo_13.jpg" alt="producto 6" width="100%">
            <div class="hidden offer">Oferta</div>
            <h3>Vestido cruzado largo</h3>
            <strong class="price"><del> $20.00</del> $29.98</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 product-box">
            <img src="img/photo_13.jpg" alt="producto 7" width="100%">
            <div class="hidden offer">Oferta</div>
            <h3>Vestido cruzado largo</h3>
            <strong class="price"><del> $20.00</del> $29.98</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 product-box">
            <img src="img/photo_15.jpg" alt="producto 8" width="100%">
            <div class="hidden offer">Oferta</div>
            <h3>Vestido cruzado largo</h3>
            <strong class="price"><del> $20.00</del> $29.98</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 product-box">
            <img src="img/photo_16.jpg" alt="producto 9" width="100%">
            <div class="hidden offer">Oferta</div>
            <h3>Vestido cruzado largo</h3>
            <strong class="price"><del> $20.00</del> $29.98</strong>
        </a>
    </div>
</div>

<ul class="pagination">
<li><a href="#"class="active">1</a></li>
<1i>(a href="#">2</a></1i>
<1i><a href="#">3</a></1i>
<li>...</1i>
<1i><a href="#">10</a></1i>
3u1的